<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for submitting via SubStrate, <%= @submission.name %></h1>
    <p>
      We have received your submission and will review it and respond within the specified timeframe.
    </p>
    <p>Thanks for submitting and have a great day!</p>
  </body>
</html>